.wrapper{
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  color: red;
}

.nav{
  height:100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items{
  display: flex;
}

.item{
  display: flex;
  margin-right: 20px;
  &:last-child{
    margin-right: 0;
  }
}